* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}


ul {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    gap: 45px;
    background-color: #eee;
    width: fit-content;
    border-radius: 0 0 31px 31px;
    margin-bottom: 50px;
}


ul li a {
    text-decoration: none;
}


ul li {
    list-style-type: none;
}